@font-face {
	font-family: 'Georgia';
	src: local('Georgia'),
		url(./fonts/georgia.ttf);
}

* {
	margin: 0;
	box-sizing: border-box;
	padding: 0;
}

ul {
	list-style-type: none;
	display: flex;
}

a:hover,
a:active,
a {
	text-decoration: none;
	color: black
}

.title {
	font-family: Georgia;
	font-size: 35px;
	line-height: 130%;
	color: #545454;
	letter-spacing: 0.06em;
	font-weight: 400;
}

.first-screen {
	height: 908px;
	background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%)
}

.wrapper {
	width: 1200px;
	margin: 0 auto
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
}

.logo {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 60px;
	margin-top: 60px;

}

.logo__title {
	font-size: 32px;
	font-weight: 400;
	letter-spacing: 0.09em;
	color: #F1CDB3
}

.logo__subtitle {
	font-size: 13px;
	color: #fff;
	letter-spacing: 0.1em;
	font-family: Arial, Helvetica, sans-serif;
}

.section__title {
	font-size: 35px;
}

.header-nav {
	gap: 35px;
}

nav {
	display: flex;
	align-items: center;
	margin-top: 60px;
}

.header-nav>li>a {
	font-size: 15px;
	color: white;
	font-family: Arial;
}

.header-nav__item--hover {
	display: flex;
	align-items: center;
	border-bottom: 3px solid transparent;
	height: 27px;
	transition: 0.5s all;
}

.header-nav__item--hover:hover {
	border-bottom: 3px solid #F1CDB3;
}

.section-content {
	display: flex;
	width: 460px;
	height: 322px;
	justify-content: space-between;
	width: 100%;
	margin-top: 50px;
}

.text-content {
	width: 460px;
	height: 322px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 235px;
}

.heading {
	font-size: 44px;
	font-family: Georgia;
	color: #fff;
	font-weight: 400;
	line-height: 130%;
}

.subtitle {
	color: #CDCDCD;
	font-size: 15px;
	letter-spacing: 0.03em;
	line-height: 160%;
}

.button {
	color: #292929;
	font-size: 17px;
	height: 52px;
	border-radius: 100px;
	letter-spacing: 0.06em;
	border: none;
	background-color: #F1CDB3;
	font-family: Georgia;
}


.section-img {
	width: 670px;
	height: 730px;
	margin-top: 70px;
}

.first-screen--button {
	width: 210px;
}

.about {
	height: 588px;
	display: flex;
}

.about-content {
	display: flex;
	height: 410px;
	width: 850px;
	margin: 0 auto;
	justify-content: space-between;
	align-items: center;
	margin-top: 80px;

}

.text-content_about {
	width: 430px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 0;
	gap: 25px;
	height: 380px;
}

.about_img {
	width: 300px;
	height: 100%;
	margin: 0;
}

.about__subtitle {
	font-family: Arial;
	letter-spacing: 0;
}

.pets {
	height: 877px;
	background-color: #F6F6F6;
	padding-top: 80px;
}

.pets-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 697px;
	justify-content: space-between;
}

.pets-title {
	width: 400px;
	text-align: center;
}

.pets--button {
	width: 260px;
}

.slider {
	height: 435px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.slider-button {
	width: 52px;
	height: 52px;
	border-radius: 100px;
	border: 2px solid #F1CDB3;
	background-color: transparent;
	font-size: px;
}

.slides {
	display: flex;
	justify-content: space-between;
	width: 990px;
	height: 100%;
}

.help-list__item {
	display: flex;
	flex-direction: column;
	height: 113px;
}

.card {
	background-color: #FAFAFA;
	display: flex;
	flex-direction: column;
	/* height: 270px; */
	justify-content: flex-start;
	gap: 30px;
	align-items: center;
	border-radius: 9px;
}

.button--pets {
	width: 187px;
	background-color: transparent;
	border: 2px solid #F1CDB3;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Georgia;
	color: #292929;
}

.card__title {
	font-family: Georgia;
	color: #545454;
	font-size: 20px;
	letter-spacing: 0.06em;
}

.help {
	height: 611px;
	padding-top: 80px;
}

.help-content {
	height: 431px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.help_title {
	width: 308px;
	text-align: center;
	letter-spacing: 0.05em;
}

.help-list {
	display: flex;
	flex-direction: column;
	width: 1026px;
	height: 281px;
	justify-content: space-between;
}

.help-list__title {
	font-family: Georgia;
	font-weight: 400;
	line-height: 115%;
	letter-spacing: 0.057em;
	font-size: 20px;
	color: #545454;
}

.help-list__item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 113px;
}

.help-list__img {
	max-width: 60px;
}

.help-list__line {
	display: flex;
	gap: 120px;
	justify-content: space-between;
}

.help-list__bottom {
	justify-content: center;
	/* justify-content: first bas; */
}

.donation {
	height: 462px;
	background-color: #F6F6F6;
	padding-top: 80px;
}

.donation-content {
	width: 915px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	/* justify-content: center; */
}

.donation-img {
	padding-top: 11px;
}

.donation-info {
	display: flex;
	flex-direction: column;
	width: 380px;
	justify-content: space-between;
}

.donation-subtitle {
	font-family: Georgia;
	font-weight: 400;
	font-size: 15px;
	line-height: 16.5px;
	letter-spacing: 0.06em;
}

.donation-button {
	display: flex;
	padding: 0 15px;
	justify-content: space-around;
	align-items: center;
	border-radius: 9px;
	background-color: #F1CDB3;
	border: none;
	width: 349px;
	height: 43px;
	font-family: Georgia;
	font-size: 20px;
	letter-spacing: 0.06em;
}

.donation-info_subtext {
	color: #B2B2B2;
	font-size: 12px;
	font-family: Arial;
	font-style: italic;
	line-height: 18px;
	font-weight: 400;
	letter-spacing: 0.04em;
}

footer {
	height: 350px;
	padding-top: 40px;
	background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%)
}

.footer-content {
	height: 310px;
	display: flex;
	justify-content: space-between;
	gap: 160px
}

.footer_column {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 234px;
	padding-top: 16px;
	gap: 40px
}


.footer_column>a {
	color: #F1CDB3;
	display: flex;
	/* height: 32px; */
	align-items: center;
	font-family: Georgia;
	font-size: 20px;
	font-weight: 400;
	/* line-height: 23px; */
	letter-spacing: 0.06em;
}

.mail::before {
	content: url(./assets/icon-email.svg);
	margin-right: 20px;
}

.tel::before {
	content: url(./assets/icon-phone.svg);
	margin-right: 20px;
}

.location::before {
	content: url(./assets/icon-marker.svg);
	margin-right: px;
}

.footer-title {
	font-family: Georgia;
	font-weight: 400;
	font-size: 35px;
	line-height: 45.5px;
	letter-spacing: 0.06em;
	color: #fff;
}